<%= render 'navbar' %>
<div class="content">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Code:</strong>
    <%= @course.code %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>
  <div class="star-rating" data-score= <%= @avg_review %> ></div> data-score= <%= @avg_review %>
        <em><%= "#{@reviews.length} reviews" %></em>
  <div class="star-rating" data-score= <%= @avg_review2 %> ></div> data-score= <%= @avg_review2 %>
        <em><%= "#{@reviews.length} reviews" %></em>
  <div class="star-rating" data-score= <%= @avg_review3 %> ></div> data-score= <%= @avg_review3 %>
        <em><%= "#{@reviews.length} reviews" %></em>
  <p>
    <strong>Description:</strong>
    <%= @course.description %>
  </p>
  <div class="col-md-7 col-md-offset-1">
    <h1 class="review_title"><%= @course.code %></h1>
    <p><%= @course.description %></p>

      <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_course_review_path(@course), class: "btn btn-danger" %>
      <% else %>
        <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ><%= review.rating %></div>
              <div class="star-rating" data-score= <%= review.rating2 %> ><%= review.rating2 %></div>
              <div class="star-rating" data-score= <%= review.rating3 %> ><%= review.rating3 %></div>
              <p><%= review.comment %></p>
            </div>
        <% end %>
      <% end %>
      </div>
  
  <%= link_to 'Review this Course', new_course_review_path(@course) %>
  
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>